:root {
  --yellow: #e2ac22;
  --sea-blue: #0e6297;
  --red: #a40016;
  --orange: #e96214;
  --dark-neutral: #4e493c;
  --light-neutral: #eeeeed;
}

* {
  box-sizing: border-box;
  font-family: "Lucida Grande","Trebuchet MS", sans-serif;
}


body {
  margin: 0;
  background: repeating-linear-gradient(
    var(--yellow),
    var(--yellow) 40px,
    var(--dark-neutral) 40px,
    var(--dark-neutral) 42px,
    var(--sea-blue) 42px,
    var(--sea-blue) 80px,
    var(--dark-neutral) 80px,
    var(--dark-neutral) 82px,
    var(--orange) 82px,
    var(--orange) 120px
  );
}

button {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid var(--sea-blue);
  font-size: 20px;
  width: calc(50% - 10px);
  margin: 5px;
  transition: background-color .3s ease-in;
  cursor: pointer;
}

button:hover {
  background-color: var(--sea-blue);
}

.container {
  text-align: center;

  width: calc(100vw - 40px);
  max-width: 480px;
  height: calc(100vh - 40px);

  padding: 5px;
  margin: 20px auto;

  background-color: var(--light-neutral);

  border-radius: 3px;
  border: 1px solid var(--dark-neutral);

  display: flex;
  flex-direction: column;
}

.stage {
  height: 40%;
  padding: 20px;
}

.buttons {
}