:root {
  --yellow: #e2ac22;
  --sea-blue: #0e6297;
  --red: #a40016;
  --grass-green: #8fc93a;
  --leafy-green: #5fad56;
  --kombu-green: #344a16;
  --jungle-green: #233f20;
  --orange: #e96214;
  --dark-neutral: #4e493c;
  --tinge-neutral: #dedddb;
  --light-neutral: #eeeeed;
}

* {
  box-sizing: border-box;
}


body {
  font-family: "Lucida Grande", "Trebuchet MS", sans-serif;
  margin: 0;
  background: repeating-linear-gradient(
    var(--yellow),
    var(--yellow) 40px,
    var(--dark-neutral) 40px,
    var(--dark-neutral) 42px,
    var(--sea-blue) 42px,
    var(--sea-blue) 80px,
    var(--dark-neutral) 80px,
    var(--dark-neutral) 82px,
    var(--orange) 82px,
    var(--orange) 120px,
    var(--dark-neutral) 120px,
    var(--dark-neutral) 122px
  );
}

.title {
  font-family: 'Andale Mono', 'Monaco', 'sans-serif';
}

.title * {
  margin: 10px;
}

.title h3 {
  border-bottom: 2px dotted var(--dark-neutral);
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.button-panel {
  position: absolute;
  width: 100px;
  left: -120px;
  display: flex;
  flex-direction: column;
  transition: left .3s linear;
  bottom: 10%;
}

.button-panel.visible {
  left: 0;
}

.button-panel button {
  width: calc(100% - 10px);
}

button {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid var(--sea-blue);
  font-size: 20px;
  margin: 5px;
  transition: background-color,width,margin,font-size .3s ease-in;
  cursor: pointer;
}

button:hover {
  background-color: var(--sea-blue);
}

.container {
  text-align: center;

  width: calc(100vw - 40px);
  max-width: 480px;
  height: calc(100vh - 40px);

  margin: 20px auto;
  padding: 10px;

  background-color: var(--light-neutral);

  border-radius: 3px;
  border: 1px solid var(--dark-neutral);

  display: flex;
  flex-direction: column;
}

#stage {
  padding: 20px;
  overflow: hidden;
  background-color: var(--tinge-neutral);
  border-radius: 3px;
  border: 1px solid var(--dark-neutral);
  height: 100%;
  position: relative;
}


@keyframes transition-left {
  from {
    left: 100%;
    width: 300%;
  }

  to {
    left: -100%;
    width: 100%;
  }
}

.title-panel {
  position: absolute;
  width: calc(80% - 40px);
  margin: 10%;
  bottom: 0;
}

svg {
  height: 100%;
  width: 100%;
}